.ny-panorama__content {
  width: 100%;
  overflow: hidden;
}
.ny-panorama__track {
  font-size: 0;
  white-space: nowrap;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.ny-panorama__slide {
  position: relative;
  display: inline-block;
  width: 25%;
}
.ny-panorama__slide-img {
  display: block;
  width: 100%;
}
.ny-panorama__pick {
  position: absolute;
}
.ny-panorama__popup {
  z-index: 4;
}
.ny-panorama__dot {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
  background-color: #000;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  -o-transition: 0.5s -o-transform ease;
  -moz-transition: 0.5s transform ease, 0.5s -moz-transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease, 0.5s -moz-transform ease, 0.5s -o-transform ease;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  z-index: 3;
}
.ny-panorama__dot::before,
.ny-panorama__dot::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}
.ny-panorama__dot::before {
  position: absolute;
  top: 7px;
  left: 3px;
  width: 10px;
  height: 2px;
}
.ny-panorama__dot::after {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 2px;
  height: 10px;
}
.ny-panorama__dot:hover {
  -webkit-transform: scale(1.625);
     -moz-transform: scale(1.625);
      -ms-transform: scale(1.625);
       -o-transform: scale(1.625);
          transform: scale(1.625);
}
.ny-panorama-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 214px;
  padding: 32px 10px 24px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  z-index: 2;
  white-space: normal;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  -o-transition: 0.3s -o-transform ease;
  -moz-transition: 0.3s transform ease, 0.3s -moz-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease, 0.3s -moz-transform ease, 0.3s -o-transform ease;
  -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  -webkit-box-shadow: 0px 0px 15px 0px #000;
     -moz-box-shadow: 0px 0px 15px 0px #000;
          box-shadow: 0px 0px 15px 0px #000;
}
.ny-panorama-popup--opened {
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  -o-transition: 0.5s -o-transform ease;
  -moz-transition: 0.5s transform ease, 0.5s -moz-transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease, 0.5s -moz-transform ease, 0.5s -o-transform ease;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
[data-direction=up] .ny-panorama-popup {
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
  top: auto;
  bottom: 0;
}
.ny-panorama-popup__image {
  display: block;
  height: 65px;
}
.ny-panorama-popup__title {
  font-size: 8px;
  font-weight: 700;
  color: #000;
  padding: 10px 0 0;
}
.ny-panorama-popup__text {
  font-size: 8px;
  font-weight: 500;
  color: #000;
  padding: 10px 0;
}
.ny-panorama-popup__button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: block;
  font-size: 8px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #f0d382;
  cursor: pointer;
  -webkit-transition: 0.5s background-color ease;
  -o-transition: 0.5s background-color ease;
  -moz-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}
.ny-panorama-popup__button:hover {
  background-color: #e8bc40;
}
