$button
	display block
	box-sizing border-box
	font-size 16px
	font-weight 500
	line-height 50px
	text-align center
	background-color #d70038
	color #fff
	min-width 220px
	padding 0 2em
	margin 0 auto
	border none
	outline none
	cursor pointer
	transition .5s all ease
	
	&:hover
		background-color darken(#d70038, 10%)
	