@import 'components/*.styl'
@import 'quiz.styl'
@import 'promo-form.styl'

body
    scroll-behavior smooth
    
body > .footer
    margin 0
    
.unipop__item_bf
    display none
    
.lp-page
    background-color #000
    width 100%
    
    &__content
        width 960px
        margin 0 auto
    
        .widescreen &
            width 1206px

.lp-quiz
  // font-family OpenSans
  font-size 2.6vw
  width 100%
  margin auto

  &__wrapper
      background-color #000

  .widescreen &
      font-size 16px
      width 800px