@import './slider.styl'
@import './promo-button.styl'

.ibanner__promocode-hint
  position absolute
  top -90000000px

.bf-actions
  display block
  font-size 10px
  font-weight 500
  line-height normal
  color #fff
  text-align center
  padding 3em 0 0

  &__conditions
    display block
    font-size 1em
    font-weight 500
    text-decoration none
    color #808080
    transition .5s all ease

    &::after
      content '?'
      border solid 1px #808080
      border-radius 50%
      display inline-block
      width 1em
      height 1em
      margin-left .5em
      //transition .5s all ease

    &:hover
      color #fff

      &::after
        border-color #fff

  &__title
    font-size 3.6em
    font-weight 500
    margin 1em 0 .2em
    display inline-block

  &__promocode
    font-size 1em
    font-weight 700
    cursor pointer
    opacity 1
    transition .5s opacity ease

    &-block
      display inline-block

  &__content
    max-width 1160px
    margin 0 auto
    

  &__slider
    white-space nowrap

@media (max-width: 520px)
  .bf-actions

    &__title
      font-size 1.8em

      span
        display block

    &__promocode
      font-size 2.4em
