.ny-calendar
  background-color #c71b1e

  &__title
    font-size 64px
    font-weight 700
    text-align center
    color #ffe49a
    margin 0
    padding 0

  &__body
    position relative
    width 960px
    margin 0 auto
    padding 50px 0

    &::after, &::before
      content ''
      display block
      position absolute
      background 50% 50% no-repeat
      z-index 0

    &::before
      left 140px
      bottom 10px
      size 227px 145px
      background-image url('/static/golden-stars_2.png')

    &::after
      right 90px
      top 80px
      size 303px 60px
      background-image url('/static/golden-stars.png')

  &__slider
    position relative
    white-space nowrap
    overflow hidden
    font-size 0
    z-index 1

  &__slide
    display inline-block
    relative width 480px height 410px
    z-index 1
