.ny-calendar
  font-size 10px
  background-color #c71b1e

  &__title
    display none

    @media (min-width: 960px)
      display block
      font-size 64px
      font-weight 700
      text-align center
      color #ffe49a
      margin 0
      padding 0

  &__body
    @media (min-width: 960px)
      position relative
      width 960px
      margin 0 auto
      padding 50px 0

      &::after, &::before
        content ''
        display block
        position absolute
        background 50% 50% no-repeat
        z-index 0

      &::before
        left 140px
        bottom 10px
        size 227px 145px
        background-image url('/static/golden-stars_2.png')

      &::after
        right 90px
        top 80px
        size 303px 60px
        background-image url('/static/golden-stars.png')

    @media (max-width: 960px)
      position relative
      width 100%
      padding 7em 0
      background 100% 5% no-repeat
      background-size 60% auto

      &::after, &::before
        content ''
        display block
        absolute top 0 left 0 width 100% height 100%
        background no-repeat
        z-index 0

      &::before
        background-image url('/static/golden-stars-01.png')
        background-position 14% 95%
        background-size 15% auto

      &::after
        background-image url('/static/golden-stars-02.png')
        background-position 90% 0
        background-size 45% auto

  &__slider
    position relative
    white-space nowrap
    overflow hidden
    font-size 0
    z-index 1

  &__slide
    display inline-block
    position relative
    z-index 1

    @media (min-width: 960px)
      width 480px
      height 410px
