.bf-actions__promocode
  position relative

  &-hint
    display block
    font-size 12px
    font-weight 500
    color #fff
    text-align center


  &-hint-applied
    position absolute
    width 195px
    color #333
    background-color #fff
    top -9000000px
    left 50%
    bottom 0
    opacity 0
    margin-left -97px
    height 25px
    font-size 11px
    line-height 25px
    text-align center

    &::before
      content ""
      position absolute
      left 50%
      margin-left -10px
      width 0
      height 0
      border-style solid