.bf-actions-slide
  position relative
  display inline-block
  font-size 10px
  width 25%
  height 175px
  padding 0
  margin 0
  box-sizing border-box
  color #fff
  text-align left
  text-decoration none
  opacity .5
  filter grayscale(1)
  cursor default
  border solid 1px #f93c00

  .initialized &
     transition .5s opacity ease

  &__inner
    opacity 0

    .initialized &
      opacity 1

  &__image
    vertical-align top
    width 100%
    object-fit cover
    object-position 50% 50%

  &__teaser
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit cover
    object-position 50% 50%
    opacity 0
    transition .5s opacity ease

  &.active
    filter none
    opacity 1

    &[href]
      cursor pointer
      background-color #f93c00

      &:hover
        .bf-actions-slide__teaser
          opacity 1


  &__date, &__title, &__discount
    position absolute
    left 20px
    z-index 2
    color #fff

  &__date, &__title  
    font-size 2.2em
    font-weight 500

  &__title
    top 6.5em

  &__date
    top 19px

  &__discount
    font-size 7.2em
    font-weight 700
    top 50px

  &__timer
    width 100%
    height 40px
    box-sizing border-box
    line-height 40px
    font-size 16px
    color #fff
    background-color #f93c00
    text-align left
    text-decoration none
    padding 0 0 0 20px

@media (max-width: 520px)
  .bf-actions-slide
    &__date, &__title
      font-size 1.6em

    &__discount
      font-size 5.3em