.ny-calendar-slider
  position relative
  padding 10px 0

  &__button
    display none

    @media (min-width: 960px)
      display block
      absolute width 60px height 60px
      background no-repeat
      background-color #fff
      border-radius 50%
      background-size 13px 25px
      z-index 3
      outline none
      cursor pointer
      transition .5s all ease

      &--prev
        top 180px
        left 0
        background-position 45% 50%
        background-image inline-image('imgs/left.svg')

        &:hover
          left -3px

      &--next
        top 270px
        right 0
        background-position 55% 50%
        background-image inline-image('imgs/right.svg')

        &:hover
          right -3px

      &--disabled
        opacity .5


@media (min-width: 960px)
  .ny-calendar-slide
    position relative
    z-index 1

    &:hover
      z-index 2

    &[href]
      cursor pointer

    &__image
      absolute top 15px width 450px
      transition .5s all ease
      background-color #c71b1e
      box-shadow 0 0 20px 0 #890002
      //opacity .5
      filter grayscale(1)

    &--started, &--coming
      .ny-calendar-slide__image
        //opacity 1
        filter none

    &--active, &--prev
      .ny-calendar-slide__image
        top 15px

    &--active
      .ny-calendar-slide__image
        right -30px
        transform scale(.95)
      
      &:hover
        .ny-calendar-slide__image
          transform scale(1)
    &--next
      .ny-calendar-slide__image
        left -30px
        top 90px

@media (max-width: 960px)
  .ny-calendar-slide
    padding 5% 0
    
    &__image
      display block
      width 100%
      transition .5s all ease
      background-color #c71b1e
      box-shadow 0 0 20px 0 #890002
      //opacity .5
      filter grayscale(1)

    &--started, &--coming
      .ny-calendar-slide__image
        //opacity 1
        filter none
    