.bf-actions-slide
  position relative
  display inline-block
  font-size 10px
  width 25%
  height 175px
  padding 0
  margin 0
  box-sizing border-box
  color #fff
  text-align left
  text-decoration none
  cursor default
  background-color #000
  border solid 1px #808080
  opacity 0

  &__content
    position relative
    height 100%
    opacity .5
    filter grayscale(1)

  .initialized &
     // transition .5s opacity ease
     opacity 1

  &__inner
    opacity 0

    .initialized &
      opacity 1

  &__image
    vertical-align top
    width 100%
    object-fit cover
    object-position 50% 50%

  &__teaser
    absolute top 0 left 0 width 100% height 100%
    object-fit cover
    object-position 50% 50%
    opacity 0
    transition .5s opacity ease
    z-index 3

  &.active
    border solid 1px #f93c00
    .bf-actions-slide__content
      filter none
      opacity 1
      cursor pointer
      background-color #f93c00

    &[href]
      &:hover
        .bf-actions-slide__teaser
          opacity 1

  &.soon
    border solid 1px #f93c00
    .bf-actions-slide__content
      filter none
      opacity 1
      cursor pointer
      background none


  &__date, &__title, &__discount
    position absolute
    left 20px
    z-index 2
    color #fff

  &__date, &__title  
    font-size 2.2em
    font-weight 500

  &__title
    top 6.5em
    font-size 1.7em
    right 0
    text-overflow ellipsis
    overflow hidden
    white-space normal

  &__date
    top 19px

  &__discount
    font-size 5em
    font-weight 600
    top 45px

  &__timer
    width 100%
    height 40px
    box-sizing border-box
    line-height 40px
    font-size 16px
    color #fff
    background-color #f93c00
    text-align left
    text-decoration none
    padding 0 0 0 20px

    @media (max-width: 1000px)
      font-size 14px

    @media (max-width: 900px)
      font-size 12px

    @media (max-width: 780px)
      font-size 10px

@media (max-width: 520px)
  .bf-actions-slide
    &__date, &__title
      font-size 1.6em

    &__discount
      font-size 5.3em