@import './slide.styl'

.bf-actions-slider
    &__content
      overflow hidden
      margin 3.5em auto 0
      padding 0 2em
      position relative

      @media (max-width: 520px)
        padding 0 5em

    &__track
      display block
      white-space nowrap
      
      .initialized &
        transition: 1s transform ease

    &__dots
      padding 4em 0
      text-align center
      min-height 14px

    &__dot
      display inline-block
      width: 12px;
      height: 12px;
      border: solid 1px #979797;
      border-radius 50%
      margin 0 4px

      &.active
        background-color #d8d8d8

@media (max-width: 520px)
  .bf-actions-slider
    &__content
      height auto