.bf-actions-slide
  position relative
  display inline-block
  width 33%
  padding 0
  margin 0
  box-sizing border-box
  color #fff
  text-align left
  opacity 1
  filter grayscale(100%)
  cursor default

  .initialized &
     transition .5s opacity ease

  &__inner
    opacity 0

    .initialized &
      opacity 1

  &.active
    filter grayscale(0)

    &[href]
      cursor pointer

      &:hover
        opacity .5
        color #fff


  &__date, &__title, &__discount
    position absolute
    left 20px
    z-index 2
    color #fff

  &__date, &__title  
    font-size 2.2em
    font-weight 500

  &__title
    top 6.5em

  &__date
    top 19px

  &__discount
    font-size 7.2em
    font-weight 700
    top 50px

  &__image
    vertical-align top
    width 100%

@media (max-width: 520px)
  .bf-actions-slide
    &__date, &__title
      font-size 1.6em

    &__discount
      font-size 5.3em